{% extends 'myapp/layout.html' %}
{% load static %}

{% block title %}1.1. Tổng quan - Phân tích doanh số{% endblock %}

{% block page_title %}1.1. Tổng quan{% endblock %}

{% block content %}
<div class="chart-container">
    <h2>Phân bố doanh số</h2>
    <div id="chart3"></div>
</div>

<div class="row">
    <div class="col">
        <div class="chart-container">
            <h2>Tổng doanh số</h2>
            <div id="chart1"></div>
        </div>
    </div>
    <div class="col">
        <div class="chart-container">
            <h2>Doanh số trung bình</h2>
            <div id="chart2"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'myapp/js/charts/chart3.js' %}"></script>
<script src="{% static 'myapp/js/charts/chart1.js' %}"></script>
<script src="{% static 'myapp/js/charts/chart2.js' %}"></script>
{% endblock %}